@tailwind base;
@tailwind components;
@tailwind utilities;

.check {
  display: flex;
  align-items: center;
}

input[type="radio"]:checked ~ .check {
  background-color: #003c43; /* Change this to the color you want when checked */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
